<html>
    <head>
      {% if title %}
      <title>{{ title }} - Stance analyzer</title>
      {% else %}
      <title>Welcome to the Stance analyzer</title>
      {% endif %}
    </head>
    <body>
        <div>Stance analyzer: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <footer>

          © Copyright 2019, All Rights Reserved
        </footer>
    </body>

</html>