{% extends "base.html" %}

{% block content %}
    <h1>Analyzer set up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.twitter_user.label }}<br>
            {{ form.twitter_user(size=32) }}
            
            {% for error in form.twitter_user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>

        <p>{{ form.environment() }} {{ form.environment.label }}</p>
        
        <p>{{ form.guncontrol() }} {{ form.guncontrol.label }}</p>
        
        <p>
            {{ form.newissue.label }}<br>
            {{ form.newissue(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}